.hoverable-avatar__container{
  width: 100%;
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
}

.hoverable-avatar{
  width: 30vh;
  height: 30vh;
  opacity: 1;
  backface-visibility: hidden;
  font-size: 14vh;
}

.hoverable-avatar__hover {
  height: 30vh;
  width: 30vh;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  cursor:pointer;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.hoverable-avatar__container:hover .hoverable-avatar__hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
}